body {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  margin-top: 10px;
  margin-bottom: 20px;
}


.card {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: #656565;
  box-shadow: 8px 8px 8px  rgba(0, 0, 0, 0.568);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: center; 
  margin: 20px auto;
}

.card img {
  object-fit: cover;
  height: 250px;
  width: 100%;
  border-radius: 12px 12px 0 0;
}


.card-content {
  padding: 20px;
  flex: 1;
}


.name {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
  cursor: pointer;
  text-decoration: none; 
}


.name:hover {
  text-decoration: none;
}


.info {
  font-size: 0.8rem;
  color: #000000;
  margin-top: auto;
}


.form {
  background-color: #343436;
  padding: 20px;
  border-radius: 30px;
  color: black;
}

input {
  margin-left: 20px;
  width: 400px;
  background-color: #2d2d2d9e;
  color: black;
  border: none;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.645);
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
}

#btn1 {
  margin-top: 15px;
  margin-bottom: 10px;
}


.P {
  margin-top: 30px;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}


